.loadMoreButton {
    width: 100% !important;
    opacity: 1 !important;
}

.tabs__content {
    height: calc(100% - 41px);
}

.tabs__panel {
    height: 100%;
}

.panel {
    height: 100%;
}

.toolbar {
    background-color: var(--colors-ContrastDarker);
    border-bottom: 1px solid var(--colors-ContrastDark);
    display: flex;
}
.toolbarButtons {
    flex-shrink: 0;
}

.toolbarSearch {
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.toolbarSearchInput {
    border-radius: 0;

    &:focus {
        background-color: var(--colors-ContrastDark);
        color: var(--colors-ContrastBrightest);
    }
}
.toolbarSearchClearButton {
    background-color: var(--colors-ContrastDark);
}
.toolbarSearchNoResults {
    padding: 5px 10px;
}

.pageTreeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--colors-ContrastDarker);
    border-right: 1px solid var(--colors-ContrastDark);
    border-bottom: 1px solid var(--colors-ContrastDark);
}

.pageTreeContainerOriginal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageTreeToolbarOriginal {
    div {
        border-top: 0;
    }
}

.treeWrapper {
    overflow-y: auto;
    padding: 5px 0;
}

.node {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 3px 6px;
    cursor: pointer;
}
.node--focused {
    background-color: var(--colors-ContrastNeutral);
}
.node--focused .node__label {
    color: var(--colors-PrimaryBlue);
}
.node--dirty {
    border-left: 2px solid var(--colors-Warn);
    padding-left: 4px;
}
.node--removed {
    cursor: not-allowed;
    border-color: var(--colors-Error);
}
.node--removed .node__label,
.node--removed .node__iconWrapper {
    opacity: 0.5;
}

.node__iconWrapper {
    width: 2em;
    display: inline-block;
    position: absolute;
    text-align: center;
}

.node__label {
    margin-left: 2em;
}
