.loadMoreButton {
    width: 100% !important;
    opacity: 1 !important;
}

.toolbar {
    border-bottom: 1px solid var(--colors-ContrastDark);
}

.treeWrapper {
    padding: 5px 0;
}

.node {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 3px 6px;
    cursor: pointer;
}
.node--focused {
    background-color: var(--colors-ContrastNeutral);
}
.node--focused .node__label {
    color: var(--colors-PrimaryBlue);
}

.node__iconWrapper {
    width: 2em;
    display: inline-block;
    position: absolute;
    text-align: center;
}

.node__label {
    margin-left: 2em;
}
